/*holaaaaaaaaaaaaaaaaaa*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.encabezado {
  background-color: #F3F3F3;
  border-bottom: #FFFFFF solid 3px;
  position: sticky;
  top: 0;
  padding: 15px;
  z-index: 1; }

.fuentesNavBar {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  padding: 0 10px; }
  .fuentesNavBar:after {
    content: "";
    position: absolute;
    background-color: #dcdcdc;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s; }
  .fuentesNavBar:hover {
    color: #2F73B0; }
    .fuentesNavBar:hover:after {
      width: 100%; }

#inicio {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url(../imagenes/inicio2.jpg);
  /*background-size: contain; se asegura que la imagen se vea completa*/
  background-size: cover;
  background-repeat: no-repeat;
  /*background-position: center;*/
  /*height: 600px;
    width: 100%;
    height: 900px;
    text-align: center;
    background-image: url(/imagenes/inicio2.jpg);
    max-width: 90%;
    background-size: cover;
    grid-area: inicio;
    max-height: 90%;*/
  padding-top: 5rem; }
  #inicio .slogan {
    font-size: 17px;
    font-weight: normal;
    color: red; }

/************************************** ESTUDIO **************************************/
.estudio {
  background-color: white; }
  .estudio .nuestroEquipo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-top: 2rem;*/ }
    .estudio .nuestroEquipo h2 {
      margin-top: 80px;
      margin-bottom: 15px;
      font-size: 30px; }
    .estudio .nuestroEquipo .fraseNuestroEquipo {
      font-size: 17px;
      margin-top: 10px;
      margin-bottom: 5px;
      /*padding: 10px;*/
      text-align: center; }
    .estudio .nuestroEquipo .fraseNuestroEquipoContinuacion {
      font-size: 17px;
      margin-top: 5px;
      margin-bottom: 40px;
      /*padding: 10px;*/
      text-align: center; }
  .estudio .datosPersona {
    display: flex;
    /* flex-direction por defecto esta en row, lo pongo para verlo explicito y recordar */
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .estudio .datosPersona div .imagenPersona {
      margin: 25px;
      height: 300px; }
    .estudio .datosPersona div .nombreTituloPersona {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }

* {
  box-sizing: border-box; }

.bodyProyectos {
  margin: 0;
  padding: 0; }

.filaGaleria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2px;
  /*determino cuanto espacio ocupa el elemento flex dentro de su contenedor*/
  width: 100%; }

.imagenGaleria {
  padding: 2px;
  width: 100%; }

.columnaGaleria {
  flex: 33.33%; }

.contenedorArticulo {
  border: 1px solid #F3F3F3;
  border-top: 0;
  padding: 20px; }
  .contenedorArticulo .articulo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 20px; }
    .contenedorArticulo .articulo .contenedorImagenArticulo .imagenArticulo {
      width: 320px;
      height: 320px; }
    .contenedorArticulo .articulo .textoContenedor {
      padding-left: 10px; }
      .contenedorArticulo .articulo .textoContenedor div .tituloArticulo {
        text-align: left; }

/************************************** CONTACTO **************************************/
.seccionContactoContenedor {
  background-image: url(../imagenes/contacto/2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  padding: 200px; }
  .seccionContactoContenedor .datosContacto {
    /*flex: 40%;*/
    padding: 50px 30px; }
    .seccionContactoContenedor .datosContacto .fraseMantenteEnContacto {
      font-weight: bold;
      font-size: 2.3rem;
      color: #2F73B0;
      width: 100%;
      margin-bottom: 17px; }
    .seccionContactoContenedor .datosContacto .textoContacto {
      color: #7a7a7a;
      font-size: 1.1rem;
      width: 100%;
      margin-bottom: 33px; }
    .seccionContactoContenedor .datosContacto .tituloTextoContacto {
      font-weight: bold;
      font-size: 1.1rem;
      color: #2F73B0;
      width: 100%;
      margin-bottom: 19px; }
  .seccionContactoContenedor .formularioContacto {
    background-color: white;
    box-sizing: border-box;
    width: 45%;
    /*flex: 60%;*/
    border: 2px solid white;
    border-radius: 20px;
    padding: 50px 30px; }
    .seccionContactoContenedor .formularioContacto .tituloContacto {
      text-align: center;
      font-size: 1.4rem;
      width: 100%; }

.formularioContactoCampos {
  /*display: flex;
    flex-direction: column;
    align-items:space-around;*/
  /*row-gap: 30px;*/ }
  .formularioContactoCampos .etiquetaContacto {
    color: #7a7a7a;
    width: 100%;
    text-align: left;
    margin-top: 40px; }
  .formularioContactoCampos .botonEnviarFormulario {
    color: black;
    background-color: linear-gradient(4deg, #e20fe6 0%, #2f73b0 99%);
    width: 20%;
    padding: 5px;
    margin: auto;
    margin-top: 40px;
    border: 0;
    border-radius: 15px; }
  .formularioContactoCampos .botonBorrarFormulario {
    color: black;
    border-color: #2F73B0;
    width: 20%;
    padding: 5px;
    margin: auto;
    margin-top: 40px;
    border: 0;
    border-radius: 15px; }
  .formularioContactoCampos .inputContacto {
    width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: #b7b7b7; }
    .formularioContactoCampos .inputContacto:focus {
      /*quito cualquier valor por defecto del borde del input*/
      outline: none;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-color: #2F73B0; }
  .formularioContactoCampos .textAreaContacto {
    width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: #b7b7b7; }
    .formularioContactoCampos .textAreaContacto:focus {
      outline: none;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-color: #2F73B0; }

h3 {
  font-size: 1.1rem; }

/* MEDIAS QUERIES */
/* ESTABLEZCO TAMANO PARA CELULAR */
@media screen and (min-width: 320px) and (max-width: 599px) {
  /*.menuNavegacion{
        display: none;
    }*/
  #inicio {
    height: calc(100vh - 1500px);
    background-size: cover;
    /*background-size con porcentaje, primero ancho luego el alto*/
    /*background-size: 100% 70%;*/ }
  /************************************** ESTUDIO **************************************/
  .estudio .nuestroEquipo .fraseNuestroEquipo {
    max-width: 90%; }
  .estudio .nuestroEquipo .fraseNuestroEquipoContinuacion {
    max-width: 90%; }
  .estudio .datosPersona {
    flex-direction: column;
    row-gap: 15px; }
  /************************************** PROYECTOS **************************************/
  .columnaGaleria {
    flex: 100%; }
  /************************************** CONTACTO **************************************/
  .contacto .formularioContacto {
    padding-left: 15px;
    padding-right: 15px; }
  /************************************** NOVEDADES **************************************/
  .contenedorArticulo .articulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .contenedorArticulo .articulo .textoContenedor {
      padding-left: 0px; }
      .contenedorArticulo .articulo .textoContenedor div .tituloArticulo {
        text-align: center; }
      .contenedorArticulo .articulo .textoContenedor div .textoArticuloNovedades {
        text-align: justify; } }

/*Establezco medidas para medias queries pantallas grandes*/
@media screen and (min-width: 600px) and (max-width: 992px) {
  /************************************** PROYECTOS **************************************/
  .columnaGaleria {
    flex: 50%; } }

* {
  margin: 0;
  padding: 0; }

/*.encabezado{
    background-color: #F3F3F3;
    border-bottom: #FFFFFF solid 3px;
    position: sticky;
    top: 0;
    padding: 15px;
    z-index: 1;

}*/
/*.fuentesNavBar{
    position: relative;
    text-align: center;
    text-transform: uppercase;
    padding: 0 10px;
}

 .fuentesNavBar:after{
    content: "";
    position: absolute;
    background-color: #e4e4e4;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;

 }

.fuentesNavBar:hover{
    color:#4f4e4e;
}

.fuentesNavBar:hover:after{
    width: 100%;
 }
*/
/* INICIO */
/*#inicio {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url(../imagenes/inicio2.jpg);
    /*background-size: contain; se asegura que la imagen se vea completa*/
/*background-size: cover;*/
/*background-repeat: no-repeat;*/
/*background-position: center;*/
/*height: 600px;
    width: 100%;
    height: 900px;
    text-align: center;
    background-image: url(/imagenes/inicio2.jpg);
    max-width: 90%;
    background-size: cover;
    grid-area: inicio;
    max-height: 90%;*/
/*padding-top: 5rem;

}*/
/*.slogan{
    font-size: 17px;
    font-weight: normal;
    color: black;
}
*/
h2 {
  font-size: 20px; }

body {
  /*font-family: 'Roboto';*/
  font-family: 'Lato', sans-serif; }

.tituloPrincipal {
  margin-top: 80px;
  margin-bottom: 15px;
  font-size: 30px; }

footer {
  height: 110px;
  margin-top: 5px;
  padding: 10px;
  background-color: #F3F3F3;
  text-align: center;
  padding-bottom: 115px; }

.redesSociales {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.redesIcon {
  margin: 10px 20px;
  height: 60px;
  width: 60px; }
