/************************************** CONTACTO **************************************/
.seccionContactoContenedor{
    background-image: url(../imagenes/contacto/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 6% 18%;

    .datosContacto{
        width: 100%;
        /*flex: 40%;*/
        /*padding: 50px 30px;*/
        padding-right: 30px;
        padding-left: 10px;

        .fraseMantenteEnContacto{
            font-weight:bold;
            font-size: 2.3rem;
            color: map-get($coloresSitio, celeste_logo);
            width: 100%;
            margin-top: 90px;
            /*margin-bottom: 17px;*/
        }
        
        .textoContacto{
            color: map-get($coloresSitio, gris_claro2);
            font-size: 1.1rem;
            width: 100%;
        }
        
        .tituloTextoContacto{
            font-weight: bold;
            font-size: 1.1rem;
            color: map-get($coloresSitio, celeste_logo);
            width: 100%;
        }
        .contenedorRedesSociales{
            width: 80%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-top: 2px solid map-get($coloresSitio, gris_claro);
            .enlaceRedesSociales{
                .iconoRedes{
                    margin: 15px;
                    width: 50px;
                    height: 50px;
                }
            }
        }   

    }

    .formularioContacto{
        margin-right: 10px;
        padding: 70px 3%;
        height: 550px;
        background-color: white;
        box-shadow: map-get($coloresSitio, blanco) 0px 7px 29px 0px;
        border-radius: 20px;
        min-width: 315px;

        .tituloContacto{
            padding-top: 40x;
            padding-bottom: 20px;
            text-align: center;
            font-size: 1.4rem;
            /*width: 100%;*/
        }
    }
}


.formularioContactoCampos{
    /*display: flex;
    flex-direction: column;
    align-items:space-around;*/
    /*row-gap: 30px;*/

    .etiquetaContacto{
        color: map-get($coloresSitio, gris_claro2);
        /*width: 100%;*/
        text-align: left;
        margin-top: 40px;
    }

    .botonEnviarFormulario{
        color: black;
        background-color: linear-gradient(4deg, rgba(226,15,230,1) 0%, rgba(47,115,176,1) 99%);
        width: 20%;
        padding: 5px;
        margin: auto;
        margin-top: 40px;
        border: 0;
        border-radius: 15px;
        transition-duration: 0.4s;
    }

    .botonEnviarFormulario:hover{
        background-color: map-get($coloresSitio, celeste_logo);
        color: white;
    }

    .botonBorrarFormulario{
        color: black;
        border-color: map-get($coloresSitio, celeste_logo);
        width: 20%;
        padding: 5px;
        margin: auto;
        margin-top: 40px;
        border: 0;
        border-radius: 15px;
        transition-duration: 0.4s;
    }

    .botonBorrarFormulario:hover{
        background-color: red;
        color: white;
    }
    .inputContacto{
        width: 100%;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-color:#b7b7b7;
    
        &:focus{
            /*quito cualquier valor por defecto del borde del input*/
            outline: none;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-color: map-get($coloresSitio, celeste_logo);;
        }                    
    }   

    .textAreaContacto{
        width: 100%;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-color:#b7b7b7;

        &:focus{
            outline: none;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-color:map-get($coloresSitio, celeste_logo);
        }
    }

}




