/************************************** ESTUDIO **************************************/
.estudio{
    background-color: map-get($coloresSitio, blanco);
    margin-top: 5%;
    margin-bottom: 5%;

    .nuestroEquipo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .fraseNuestroEquipo{
            font-size: 1.06rem;
            margin-top: 0.63rem;
            margin-bottom: 0.31rem;
            text-align: center;
        }
        
        .fraseNuestroEquipoContinuacion{
            font-size: 1.06rem;
            margin-top: 0.31rem;
            margin-bottom: 2.5rem;
            text-align: center;
        }
    }

    .datosPersona{
        display: flex;
        flex-direction: row; 
        justify-content: center;
        align-items: center; 
        gap: 1.9rem;
        
        .contenedorPersona{

            box-shadow: map-get($coloresSitio, gris_claro) 0px 0.4rem 1.8rem 0px;
            border-radius: 1.25rem;
            padding-bottom: 1.5rem;

            .imagenPersona{
                border-top-left-radius: 1.25rem;
                border-top-right-radius: 1.25rem;
                padding-bottom: 0.6rem;
                height: 18.7rem;
            }
            
            .nombreTituloPersona{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.enlaceRedesSocialesPersona{
    text-align: center;
    .fa-brands{
        width: 2.7rem;
        height: 2.7rem;
        /*circulo perfecto*/
        border-radius: 50%;
        text-align: center;
        line-height: 2.7rem;
        font-size: 2rem;
        color: map-get($coloresSitio , gris_oscuro);
        background-color: map-get($coloresSitio , gris_claro);
        margin-top: 2.7rem;
        margin: 1rem;
        cursor: pointer;
        transition-duration: 0.4s;

        &:hover {
            color: white;
        }
    }

    .iconoFacebookEstudio:hover {
      background-color: map-get($coloresSitio, facebook);
    }
  
    .iconoInstagramEstudio:hover {
      background-color: map-get($coloresSitio, instagram);
    }
}


