/************************************** ESTUDIO **************************************/
.estudio{
    background-color: map-get($coloresSitio, blanco);

    .nuestroEquipo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* padding-top: 2rem;*/

        h2{
            margin-top: 80px;
            margin-bottom: 15px;
            font-size: 30px;
        }

        .fraseNuestroEquipo{
            font-size: 17px;
            margin-top: 10px;
            margin-bottom: 5px;
            /*padding: 10px;*/
            text-align: center;
        }
        
        .fraseNuestroEquipoContinuacion{
            font-size: 17px;
            margin-top: 5px;
            margin-bottom: 40px;
            /*padding: 10px;*/
            text-align: center;
        }
    }

    .datosPersona{
        display: flex;
        /* flex-direction por defecto esta en row, lo pongo para verlo explicito y recordar */
        flex-direction: row; 
        justify-content: center;
        align-items: center; 
        gap: 30px;
        
        .contenedorPersona{

            /*border: 1px solid map-get($coloresSitio, gris_claro);*/
            box-shadow: map-get($coloresSitio, gris_claro) 0px 7px 29px 0px;
            border-radius: 20px;
            padding-bottom: 30px;

            .imagenPersona{
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                padding-bottom: 10px;
                height: 300px;
            }
            
            .nombreTituloPersona{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .contenedorRedesSocialesPersona{
                    width: 100%;
                    display: flex;
                    justify-content:space-evenly;
                }

                .iconoRedesEstudio{
                    height:40px;
                    width: 40px;

                }
            }
        }
    }
}




