//Override clase de bootstrap para cambiar los indicadores del carrusel
.carousel-indicators [data-bs-target] {
    /*position: relative;*/
    width: 0.7vw;
    height: 0.7vw;
    border: none;
    border-radius: 0.7vw;
    /*border-radius: 10%;*/
  }

//Override clase de bootstrap para cambiar los indicadores del carrusel (flechas)
.carousel-control-next-icon, .carousel-control-prev-icon{
  width: 2vw;
  height: 2vw;
}

.contenedorDescripcionProyecto{
    margin-top: 1.1rem;
}

.textoDescripcionProyecto{
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 0;
}

.tituloProyectoGaleria{
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 0;
  font-weight: bold;
}


/*<div class="col-1">
<p class="textoDescripcionProyecto">|</p>
</div> */