.encabezado{
    background-color: map-get($coloresSitio, gris_claro);
    border-bottom: #FFFFFF solid 3px;
    position: sticky;
    top: 0;
    padding: 15px;
    z-index: 2;

}

.fuentesNavBar{
    position: relative;
    text-align: center;
    text-transform: uppercase;
    padding: 0 10px;

    &:after{
        content: "";
        position: absolute;
        background-color: #dcdcdc;
        height: 3px;
        width: 0%;
        left: 0;
        bottom: -10px;
        transition: 0.3s; 
    }

    &:hover{
        color: map-get($coloresSitio, celeste_logo);

        &:after{
            width: 100%;
         }
    }
}




