#inicio {
    width: 100%;
    height: calc(100vh - 105px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url(../imagenes/inicio2.jpg);
    background-size: cover;
    /*background-size: contain; se asegura que la imagen se vea completa*/
    /*background-size: 100% 100%;*/
    background-repeat: no-repeat;
    /*padding-top: 5rem;*/
    
    .slogan{
        font-size: 17px;
        font-weight: 400;
        color: map-get($coloresSitio, gris_claro2);
    }

}