/* MEDIAS QUERIES */
/* ESTABLEZCO TAMANO PARA CELULAR */
@media screen and (min-width: 320px) and (max-width: 599px){

/************************************** INICIO **************************************/
    #inicio{
        background-size: contain;
        height: 200px;

        .tituloPrincipal{
            padding-top: 0rem;
            margin-top: 0px;
        }
    }

/************************************** ESTUDIO **************************************/
    .estudio{ 
        .nuestroEquipo{
            .fraseNuestroEquipo{
                max-width: 90%;
            }
            .fraseNuestroEquipoContinuacion{
                max-width: 90%;
            }
        }
        .datosPersona{
            flex-direction: column;
            row-gap: 30px;
        }
    }

/************************************** PROYECTOS **************************************/
    .columnaGaleria{
        flex: 100%;
    }
/************************************** CONTACTO **************************************/

    .seccionContactoContenedor{
        background-image: none;
        flex-wrap: wrap;
        width: 100%;

        .datosContacto{
            padding: 0px 0px;
            .fraseMantenteEnContacto{
                margin-top: 40px;
            }

            .contenedorRedesSociales{
                width: 100%;
                justify-content: center;
                
            }
        }

        .formularioContacto{
            width: 100%;
            border: none;
            margin: 0;
        }
    }

        
/************************************** NOVEDADES **************************************/
    .contenedorArticulo{
        .articulo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .textoContenedor{
                padding-left: 0px; 

                div{ 
                    .tituloArticulo{
                        text-align: center;
                    }
                }
                div{
                    .textoArticuloNovedades{
                        text-align: justify;
                    }
                }
            }
            
        }
    }   
}
/*Establezco medidas para medias queries pantallas grandes*/
@media screen and (min-width: 600px) and (max-width: 992px){

/************************************** PROYECTOS **************************************/
    .columnaGaleria{
        flex: 50%;
    }
}

@media screen and (min-width: 320px) and (max-width: 575px){

/************************************** OPINIONES **************************************/

    .columnaOpinionPersona{
        padding-top: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        background-color: white;
        margin-bottom: 30px;

        .fotoPersonaOpinion{
            padding-top: 0;
            padding-bottom: 0;
            width: 40%;
        }

        .nombrePersonaOpinion{
            /*padding-bottom: 20%;*/
            padding-bottom: 0;
            width: 40%;

        }

        .textoPersonaOpinion{
            text-align: center;
            width: 100%;
            margin-top: 8%;
        }
    }

    .seccionOpiniones{
        background-image: none;
        height:max-content;
    }
}