
.columnaOpinionPersona{
    box-shadow: map-get($coloresSitio, gris_claro) 0 0.4rem 1.8rem 0;
    border-radius: 1.25rem;
    padding-bottom: 1.88rem;
    text-align: center;
    background-color: white;
    margin: 1%;

    .fotoPersonaOpinion{
        width: 50%;
        padding-top: 25%;
        padding-bottom: 25%;
    }

    .nombrePersonaOpinion{
        padding-bottom: 20%;
    }
}

.seccionOpiniones{
    background-image: url(../imagenes/opiniones/2.jpg);
    background-size: cover;
    padding-bottom: 5%;

    .tituloNuestrosClientes{
        text-align: center;
        padding-bottom: 1%;    
        padding-top: 6%;
    }
    
}

