
.columnaOpinionPersona{
    box-shadow: map-get($coloresSitio, gris_claro) 0px 7px 29px 0px;
    border-radius: 20px;
    padding-bottom: 30px;
    text-align: center;
    background-color: white;
    margin: 1%;

    .fotoPersonaOpinion{
        width: 50%;
        padding-top: 25%;
        padding-bottom: 25%;
    }

    .nombrePersonaOpinion{
        padding-bottom: 20%;
    }
}

.seccionOpiniones{
    background-image: url(../imagenes/opiniones/2.jpg);
    /*background-attachment: fixed;*/
    background-size: cover;
    padding-bottom: 30px;

    .tituloNuestrosClientes{
        text-align: center;
        padding-bottom: 1%;    
        padding-top: 6%;
    }
    
}

