*{
    box-sizing: border-box;
}

.bodyProyectos{
    margin: 0;
    padding: 0;
}

.filaGaleria{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2px;
    /*determino cuanto espacio ocupa el elemento flex dentro de su contenedor*/
    width: 100%;
}

.imagenGaleria{
    padding: 2px;
    width: 100%
}

.columnaGaleria{
    flex: 33.33%;
}

