/*******************************
ARTICULOS
********************************/

/* Contenedor de Articulos*/
#article-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2.5em auto 3.5em auto;
    /*column-gap: 1em;*/

    /* Contenedor de Articulo Individual */
    .article-container {
        margin-bottom: 2em;
        /*margin-right: 2.7em;*/
        /*margin-right: 1.8em;*/
        margin-right: 0.5em;

        .figure-container img{
            &:hover{
                opacity: .6;
            }
            
        }

        .date-of-the-article {
            font-size: 0.8em;
            margin: 1rem 0;
        }
        .article-text-container {
            margin-right: 4em;

            .text{
                text-align: left;
            }

            a{
                text-decoration: none;
                &:hover{
                    color:black;
                    text-decoration: underline;
                    text-decoration-thickness: 2px;
                }
            }

        }
     
    }
    

}
