/*******************************
CONTENEDORES
********************************/

#container {
    margin: 0 auto;
}

.wrapper {
    max-width: $site-max-width;
    margin-inline: auto;
    padding: 0 1em;
    /*TEST*/
}

.sub-container {
    display: grid;
    max-width: $site-max-width;
    margin-inline: auto;
    /*Equivale a margin:0 auto; */
    grid-template-columns: 1fr 1fr 0.8fr;
    grid-template-areas: "main main aside";
    padding: 0 1em;

}


main {
    grid-area: main;

    /* Titulo de c/pagina  */
    .page-title {
        border-bottom: 2px solid #EDF1F3;
        padding: 30px 0;
        margin-top: 2.5em;
        margin-right: 3.8em;

    }

}


.menu-border {
    border-bottom: 1px solid #ddd;
}