/************************************
FOOTER
************************************/


footer {
    /*background-color:rgb(28,29,41);*/
    background-color: $clr-bg-footer;
    /*background-color: rgb(39,32,62);*/

    

    .footer-bottom-section {
        display: flex;
        padding: 2em 0;
        justify-content: center;
        align-items: baseline;
        gap: 3em;

        .copyrights {
            font-size: 0.8em;
            color: #cccccc;
        }


        .privacy a {
            text-decoration: none;
            font-size: 0.8em;
            color: #cccccc;
            margin: 0 0.5em;

            &:hover {
                opacity: .6;
            }
        }
    }

}