/********************************
SETEOS GENERALES
*********************************/
@charset "UTF-8";

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    margin: 0;
}


body {

    font-family: "proxima-nova", Verdana, Arial, serif;
    font-size: 1em;
    background-color: $clr-bg-primary;


    h1 {
        font-family: sans-serif;
        font-family: $ff-secondary;
        font-weight: lighter;
        font-size: 1.3em;
        color: black;
        margin-bottom: 0;
    }

    h2 {
        font-family: sans-serif;
        font-family: $ff-secondary;
        font-weight: 700;
        font-size: 1.2em;
        color: #222;
    }


    h3 {
        font-family:sans-serif;
        font-family: $ff-tertiary;
        font-weight: bold;
        font-size: 1.1em;
        text-transform: uppercase;
        color: black;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    ol{
        margin: 0;
        padding: 0;
    }

    p {
        text-align: justify;
    }

    input:focus {
        box-shadow: none;
        outline: none;
    }

}