/* COLORES */
/* FUENTES */
/* SITE MAX WIDTH */
/* MEDIA QUERIES*/
/* SET FAV BACKGROUND COLOR */
/********************************
SETEOS GENERALES
*********************************/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
}

body {
  /*font-family: "proxima-nova", Verdana, Arial, serif;*/
  font-family: "proxima-nova", Verdana, Arial, serif;
  font-size: 1em;
  background-color: white;
  /*******************************
    CONTACT & ABOUT HTMLs 
    ********************************/
}

body h1 {
  /*font-family: 'Hind', sans-serif;*/
  font-family: "Hind", sans-serif;
  font-weight: lighter;
  font-size: 1.3em;
  color: black;
  margin-bottom: 0;
}

body h2 {
  /*font-family: 'Hind', sans-serif;*/
  font-family: "Hind", sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  color: #222;
}

body h3 {
  /*font-family:'Jost', sans-serif;*/
  font-family: "Jost", sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  text-transform: uppercase;
  color: black;
}

body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body ol {
  margin: 0;
  padding: 0;
}

body p {
  text-align: justify;
}

body input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

body .about-us {
  margin: 2.5em auto 0 auto;
}

body .text-container {
  margin-right: 3.8em;
}


/********************************
MENU CON BOOTSTRAP
*********************************/
/* Links  */
.main-menu ul li a {
  text-decoration: none;
  color: #616161;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 700;
  padding: 1.5em !important;
}

.main-menu ul li a:hover {
  color: #222;
  background-color: #FFD117;
}

/********************************
CAJA PARA SUBSCRIBIRSE EN EL INDEX
*********************************/
/* Fondo de pantalla de la caja*/
.subscribe {
  /*background: url("../images/subscribe.png");*/
  background: url("../images/subscribe.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* Contenedor de la caja*/
}

.subscribe .subscribe-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.5em 0;
  /* Texto de la caja */
}

.subscribe .subscribe-container .header-text {
  font-size: 1.1em;
  color: white;
  width: 45%;
}


.subscribe .subscribe-container .email-header {
  width: 40%;
  /* Contenedor de Elementos de Formulario de Index (Header)*/
}

.subscribe .subscribe-container .email-header .subscribe-button {
  background-color: white;
  padding: 0.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* Campo e-mail de la Caja*/
  /* Boton de Subscribise de la Caja*/
}

.subscribe .subscribe-container .email-header .subscribe-button #email {
  font-size: 1em;
  border-width: 0;
  padding: 10px;
  width: 100%;
}

.subscribe .subscribe-container .email-header .subscribe-button #subscribe {
  background-color: #FE6935;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  border-width: 0;
  color: white;
  padding: 12px 35px;
}

.subscribe .subscribe-container .email-header .subscribe-button #subscribe:hover {
  opacity: .6;
}


/************************************
ANIMACION EN EL HEADER
************************************/
/* ----------------------------------------------
 * Generated by Animista on 2022-5-24 1:13:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-top {
  -webkit-animation: slide-in-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/*******************************
CONTENEDORES
********************************/
#container {
  margin: 0 auto;
}

.wrapper {
  max-width: 1140px;
  margin-inline: auto;
  padding: 0 1em;
  /*TEST*/
}

.sub-container {
  display: -ms-grid;
  display: grid;
  max-width: 1140px;
  margin-inline: auto;
  /*Equivale a margin:0 auto; */
  -ms-grid-columns: 1fr 1fr 0.8fr;
      grid-template-columns: 1fr 1fr 0.8fr;
      grid-template-areas: "main main aside";
  padding: 0 1em;
}

@media (min-width: 735px) and (max-width: 1105px) {
  .sub-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 300px) and (max-width: 734px) {
  .sub-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

main {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  /* Titulo de c/pagina  */
}

main .page-title {
  border-bottom: 2px solid #EDF1F3;
  padding: 30px 0;
  margin-top: 2.5em;
  margin-right: 3.8em;
}

@media (min-width: 735px) and (max-width: 1105px) {
  main .page-title {
    margin-right: 0.8em;
  }
}

@media (min-width: 300px) and (max-width: 734px) {
  main .page-title {
    margin-right: 0;
  }
}

.menu-border {
  border-bottom: 1px solid #ddd;
}

/*******************************
ARTICULOS
********************************/
/* Contenedor de Articulos*/
#article-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin: 2.5em auto 3.5em auto;
  /*column-gap: 1em;*/
  /* Contenedor de Articulo Individual */
}

#article-list .article-container {
  margin-bottom: 2em;
  /*margin-right: 2.7em;*/
  /*margin-right: 1.8em;*/
  margin-right: 0.5em;
}

#article-list .article-container .figure-container img:hover {
  opacity: .6;
}

@media (min-width: 300px) and (max-width: 734px) {
  #article-list .article-container .figure-container img {
    width: 100%;
  }
}

#article-list .article-container .date-of-the-article {
  font-size: 0.8em;
  margin: 1rem 0;
}

#article-list .article-container .article-text-container {
  margin-right: 4em;
}

#article-list .article-container .article-text-container .text {
  text-align: left;
}

#article-list .article-container .article-text-container a {
  text-decoration: none;
}

#article-list .article-container .article-text-container a:hover {
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

@media (min-width: 735px) and (max-width: 1105px) {
  #article-list .article-container .article-text-container {
    width: 326px;
  }
}

@media (min-width: 300px) and (max-width: 734px) {
  #article-list .article-container .article-text-container {
    margin-right: 0;
  }
}

@media (min-width: 735px) and (max-width: 1105px) {
  #article-list .article-container {
    margin-right: 0;
  }
}

@media (min-width: 300px) and (max-width: 734px) {
  #article-list .article-container {
    margin-right: 0;
  }
}

@media (min-width: 735px) and (max-width: 1105px) {
  #article-list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 740px;
  }
}

@media (min-width: 300px) and (max-width: 734px) {
  #article-list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

/* Articulo Individual*/
@media (min-width: 735px) and (max-width: 1105px) {
  .article-content .img-inside-article {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
  }
}

@media (min-width: 300px) and (max-width: 734px) {
  .article-content .img-inside-article {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
  }
}

/*******************************
ASIDE
********************************/
aside {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: aside;
  margin: 2.5em 0em 0 1.5em;
  border: 20px solid #EDF1F3;
  row-gap: 0.2em;
  background-color: #EDF1F3;
}


@media (min-width: 735px) and (max-width: 1105px) {
  aside {
    display: none;
  }
}

@media (min-width: 300px) and (max-width: 734px) {
  aside {
    display: none;
  }
}

/************************************
FOOTER
************************************/
footer {
  /*background-color:rgb(28,29,41);*/
  background-color: black;
  /*background-color: rgb(39,32,62);*/
}

footer .footer-bottom-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 3em;
}

footer .footer-bottom-section .copyrights {
  font-size: 0.8em;
  color: #cccccc;
}

footer .footer-bottom-section .privacy a {
  text-decoration: none;
  font-size: 0.8em;
  color: #cccccc;
  margin: 0 0.5em;
}

footer .footer-bottom-section .privacy a:hover {
  opacity: .6;
}


/************************************
FORMULARIO DE CONTACTO
************************************/
#formulario .form-style {
  margin: 30px 0;
  max-width: 480px;
  padding: 0;
  /* Filas del Formulario */
}

#formulario .form-style li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 18px 0 0 0;
  /* Etiqueta de cada fila */
  /* Ancho de los campos que ocupan una sola columna */
  /* Boton Submit*/
}

#formulario .form-style li label {
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font: 1em "proxima-nova", Verdana, Arial, serif;
  font-weight: bold;
}

#formulario .form-style li label .required {
  color: red;
}

#formulario .form-style li .divided {
  width: 49.5%;
}

@media (min-width: 300px) and (max-width: 734px) {
  #formulario .form-style li .divided {
    width: 100%;
  }
}

#formulario .form-style li .full-long {
  width: 100%;
}

#formulario .form-style li input[type=text],
#formulario .form-style li input[type=email],
#formulario .form-style li textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #BEBEBE;
  padding: 10px;
  margin: 0px;
  outline: none;
  font-size: 0.9em;
}

#formulario .form-style li input[type=text]:hover,
#formulario .form-style li input[type=email]:hover,
#formulario .form-style li textarea:hover {
  -webkit-box-shadow: 0 0 8px #88D5E9;
          box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}

#formulario .form-style li input[type=submit] {
  background: #4B99AD;
  padding: 10px 15px 10px 15px;
  border: none;
  color: #fff;
}

#formulario .form-style li input[type=submit]:hover {
  background: #4691A4;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.article-image {
  margin-top: 2.5em;
  margin-bottom: 1.5em;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

.flex > .date-of-the-article {
  text-transform: uppercase;
}

.article-title {
  font-size: 2rem;
  color: black;
  margin: 0 3.8em 1em 0;
}

.article-text-container > * {
  margin-bottom: 2em;
}

.article-sub-title {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

.article-text-container {
  line-height: 28px;
}

.article-text-container:last-child {
  margin-bottom: 4em;
}

.article-list,
.article-list-ordered {
  margin-left: 2em;
}

.article-list > li {
  list-style: square;
}

.author-name {
  color: #FE6935;
}

.my-title-color {
  color: #FE6935;
  font-weight: bold;
}

/* MOBILE FIRST*/
.related-post-list-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
      grid-template-areas: "one"
 "two"
 "three";
  gap: 1.5rem;
  margin-inline: auto;
  margin-bottom: 4em;
  margin-top: 2em;
}

.related-post-list:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

.related-post-list:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: two;
}

.related-post-list:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: three;
}

.related-link {
  text-decoration: none;
  font-size: 0.8em;
  font-weight: 800;
  color: #FE6935;
}

@media screen and (min-width: 38em) {
  .related-post-list-grid {
        grid-template-areas: "one two"
 "three three";
  }
}

@media screen and (min-width: 45em) {
  .related-post-list-grid {
        grid-template-areas: 'one two three';
  }
}

.author-info {
  padding: 30px;
  border: 5px solid #EDF1F3;
  margin-bottom: 4em;
}

.related-material {
  font-weight: 100;
}
/*# sourceMappingURL=style.css.map */